# ========================
# 환경 설정 / 비밀키
# ========================
.env
.env.*
*.local

# Spring Boot 로컬/운영 설정
**/application-local.yaml
**/application-local.yml
**/application-prod.yaml
**/application-prod.yml

# ========================
# 빌드 결과물
# ========================
build/
out/
dist/
dist-ssr/

# ========================
# 업로드 파일
# ========================
**/uploads/

# ========================
# IDE
# ========================
.idea/
.vscode/
*.iws
*.iml
*.ipr

# ========================
# Gradle
# ========================
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# ========================
# Node
# ========================
node_modules/

# ========================
# 로그
# ========================
*.log
logs/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
